footer {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: #bf1e2e;
  border: 4px solid #f2eef5;
  border-radius: 8px;
  padding: 8px;
  color: $colorwhite;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.b-ashpika {
  position: relative;
  width: 62px;
}
